.myNavBar {
    display: flex;
    justify-content: flex-end;
    
}
.width-sidebar{
    margin-right: 5em;
}
.actor1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}